<h1>AgendaGEEB</h1>

<% if user_signed_in? %>
  <% if @birthday_name.exists? %>
    <% @birthday_name.each do |member| %>
      Hoje é aniversário do(a) <%= member.name %>! Vamos comemorar!
    <% end %>
  <% else %>
    Não existe aniversariante hoje.
  <% end %>
<% else %>
  Bem vindo a AgendaGEEB!
<% end %>
